body{
    background:rgb(103, 119, 134);
    height: 100vh;
    margin:20px;
}

#templateArticle{
    display: flex;
    background-color: aquamarine;
}

input:valid{
    border: 1px solid green;
}
input{
    outline: none;
}