//police
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
body{
    height: 100vh;
    margin:20px;
    
    #logo{
        width:80%;
    }
    
}


//input
input:valid{
    border: 1px solid green;
}
input{
    outline: none;
}
//tableau

table
{
    border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
//description
.card-text-description{
    color: rgb(11, 135, 184);
    font-family: 'Anton', sans-serif;
    font-size: 2vmax;
    &:hover{
        color: rgb(241, 90, 148);
    }
}
//prix
.card-text-price{
    color: #445499;
    font-size: 3vmax;
   
}

.main{
   background-color: darkgreen;
}
/********panier**************/
//titre panier
#titre_panier{
    color: rgb(255, 255, 255);
}
#total{
    color: rgb(255, 255, 255);
}

#bouton_inscription{
    background-color: rgb(255, 255, 255);
    border-color: white;
    border-radius: 22px;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Libre Baskerville', serif;
    
}
#clear{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
#btn_panier{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

//formulaire
#submit{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #445499;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }