//police
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
body{
    height: 100vh;
 
    
    #logo{
        width:100%;
    }
    
}
//navigation
nav ul li:hover 
{
border-top: solid 2.5px rgb(241, 90, 148);
transition-duration: 0.2s;
}

i .fa-shopping-basket {
    :hover{
       color: rgb(241, 90, 148);
    }
}

//input
input:valid{
    border: 1px solid green;
}
input{
    outline: none;
}

//carte
.card{
    margin: 10px;
    box-shadow: 0 100px 200px rgba(0, 0, 0, 0.01), 0 2px 6px rgba(0, 0, 0, 41.2);

}
/* Survol des cartes*/
.card:hover 
{
box-shadow:0 5px 108px #4975b3, 0 1px 0px black;
}
//description
.card-text-description{
    color: rgb(11, 135, 184);
    font-family: 'Anton', sans-serif;
    font-size: 2vmax;
    &:hover{
        color: rgb(241, 90, 148);
    }
}
#description{
    color: rgb(11, 135, 184);
    font-family: 'Anton', sans-serif;
    font-size: 2vmax;
    &:hover{
        color: rgb(241, 90, 148);
    }
}
//prix
.card-text-price{
    color: #445499;
    font-size: 3vmax;
   
}
#price.card-text{
    color: #445499;
    font-size: 3vmax;
   
}

.main{
   background-color: darkgreen;
}
/********panier**************/
//titre panier
#titre_panier{
    color: rgb(0, 0, 0);
}

//tableau
.table{
    min-width: 10px;
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
}


td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
#total{
    color: rgb(255, 255, 255);
}

#bouton_inscription{
    background-color: rgb(255, 255, 255);
    border-color: white;
    border-radius: 22px;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Libre Baskerville', serif;
    
}
#clear{
    background-color: rgb(241, 90, 148);
    color: white;
    padding: 12px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

#btn_panier{
    background-color: rgb(241, 90, 148);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

//formulaire
.formulaire{
    color: white;
}
#submit{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}
/* Style inputs, select elements and textareas */
input[type=text], select, textarea, #Email, #Email2, #mdp {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

  
/* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
/* Style the submit button */
input[type=submit] {
    background-color: rgb(241, 90, 148);
    color: white;
    padding: 12px 20px;
    margin-top: 20px;
    margin-left: 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  
/* Style the container */
.container {
    border-radius: 5px;
    background-color: #445499;
    padding: 20px;
}
  
/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}



//footer
footer{
    font-family:'Anton', sans-serif; ;
}
#main{
    
    margin: 10px;
     &:hover {
        transform: scale(1.03, 1.03);
        transition: 0.3s ease;
        opacity: 0.9;
    }
}
div.jumbotron{
    width: 84%;
   margin-left: 7.8%;
   margin-top: 2%;
}
