@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
body {
  background: #4975b3;
}

 #logo_nav {
  max-width: 100%;
  border-radius: 9px;
  margin: 0px;
 
}



#img {
  width: 50%;
  
}

#titre {
  color: #4975b3;
  font-size: 4vmax;
  text-align: center;
  margin: 40px;
}

@media screen and (max-width: 1040px) {
  #titre {
    display: none;
  }
}

#titre_produit {
  color: #4975b3;
  font-size: 4vmax;
  text-align: center;
}

@media screen and (max-width: 1040px) {
  #titre_produit {
    display: none;
  }
}

nav ul li:hover {
  border-top: solid 2.5px #f15a94;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

i .fa-shopping-basket :hover {
  color: #f15a94;
}

p, button, li, a {
  font-family: 'Roboto Condensed', sans-serif;
}

p:hover {
  color: #4975b3;
}

input:valid {
  border: 1px solid green;
}

input {
  outline: none;
}

/*****************************accueil************************/
.style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
}

.style:hover {
  -webkit-transform: scale(1.13, 1.03);
          transform: scale(1.13, 1.03);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0 5px 18px #4975b3, 0 1px 0px black;
          box-shadow: 0 5px 18px #4975b3, 0 1px 0px black;
          @media screen and (max-width: 768px) {
            transform: scale(1.01, 1.01);
          }
}

@media screen and (max-width: 768px) {
  .style {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
  #img {
    max-width: 100%;
  
  }
}


/*****************************panier************************/
table {
  border-collapse: collapse;
  
}

#clear {
  background-color: #f15a94;
  color: white;
  padding: 12px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#clear:hover {
  background-color: #e672cc;
}

#h1_panier {
  color: #4975b3;
  font-size: 6vmax;
  margin: 30px;
}

#h2_panier{
    color: white;
}

#total {
  color: white;
}


/*****************formulaire******************/
#formulaire {
  color: white;
}

#confirmation {
  background-color: #f15a94;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0px 50px 10px;
  width: 100%;
}

#confirmation:hover {
  background-color: #e672cc;
}

#recapitulatif {
  background-color: #fbdfe4;
  padding: 40px;
  border-radius: 22px;
}

.card-img-top_produit {
  align-self: center;
  margin: 50px;
  border-radius: 12px;
  
}

/**************footer***************/@at-root

footer{
    margin-top: 20px;
}