//police
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
body{
    background:#4975b3;
   
    //logo miniature
    #logo_nav{
        width: 65%;
        border-radius:9px;
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width:768px){
            width: 40vmax;
        }
        
    }
    //grand logo
    #logo{
        @media screen and (max-width:1040px){
            width: 40vmax;
        }
    }
   
    
}

//image
#img{
    width: 50%;   
}

//titre
#titre{
    color: #4975b3;
    font-size: 4vmax;
    text-align: center;
}
#titre_produit{
    color: #4975b3;
    font-size: 4vmax;
    text-align: center;
}

//navigation
nav ul li:hover 
{
border-top: solid 2.5px rgb(241, 90, 148);
transition-duration: 0.2s;
}

//icône
i .fa-shopping-basket {
    :hover{
       color: rgb(241, 90, 148);
    }
}

//paragraphe
p,button,li,a{
    font-family: 'Roboto Condensed', sans-serif;
}

p:hover{
    color:#4975b3 ;
}

//input
input:valid{
    border: 1px solid green;
}
input{
    outline: none;
}

/*****************************accueil************************/
//carte
.style{
    display: flex;
    padding: 100px;
    &:hover{
       transform: scale(1.13, 1.03);
       transition: 0.3s ease;
       box-shadow:0 5px 18px #4975b3, 0 1px 0px black;
    }
}

@media screen and (max-width:768px){
    .style{
        flex-direction: column;
        padding: 10px;
    }
    #img{
        width: 100%;   
    }
}

/*****************************produit************************/
/*****************************panier************************/
//tableau
table
{
    border-collapse: collapse;
}

//vider le panier
#clear{
    background-color: rgb(241, 90, 148);
    color: white;
    padding: 12px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    &:hover{
        background-color: rgb(230, 114, 204);
    }
}

//titre panier
#h1_panier{
    color:white;
}

//sous titre panier
#h2_panier{
    color:white;
}

/*****************************confirmation************************/



    













/*****************formulaire******************/
#formulaire{
    color: white;
}


//b
#confirmation{
    background-color: rgb(241, 90, 148);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    display: flex;
    justify-content: center;
    margin: 10px 0px 50px 10px;
    width: 100%;
    &:hover{
        background-color: rgb(230, 114, 204);
    }
}

//Recapitulatif
#recapitulatif{
    background-color: rgb(251, 223, 228);
    padding: 40px;
    border-radius: 22px;
}

.card-img-top_produit{
    padding: 50px;
    border-radius: 102px;
}